.wellButton {
    background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
    background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    border-color: #ffffcc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
}