<div class="jumbotron">
        <h1>¿Qué haremos ahora Detective?</h1>
        <p class="text-center">Colega, elige alguna opcion...</p>

        <div class="row">

          <div class="col-md-9 col-md-push-3">

            <button type="button" class="btn btn-primary" ng-click="menu.openExpediente()">Expediente</button>
            <button type="button" class="btn btn-default" ng-click="menu.jugar()">Resolver Misterio</button>
            <button type="button" class="btn btn-default" ng-click="menu.openMapamundi()">Mapamundi</button>

          </div>
          
        </div>
</div>