
	<div data-ng-controller= "MenuCtrl as menuCtrl">
		<!-- ESTE ES EL CONTENEDOR DEL HISTORIAL DE VIAJE -->
			<div class="row container-fluid">
				<div class="col-xs-4"> 
					<div>
						<h3>Estas en: Argentina</h3>
					</div>
				</div>
				<div class="col-xs-8">
					<div>
						<h3> Antes: Argentina -> Brazil -> Ecuador </h3>
					</div>
				</div>
			</div>

			 <!-- ESTE ES EL CONTENEDOR DE LAS 3 COLUMNAS DEL JUEGO -->
			
		<div class="row container-fluid">
			<div class="col-xs-4"> <!-- ESTE ES EL CONTENEDOR DE LA 1RA COLUMNA DE VIAJE -->
				
				<div class="well well-sm"> <!-- Viajar a:-->
					<h2>Viajar a: </h2>
				</div>
				
				<div> <!-- Conexiones:-->
						<h3> Posibilidades</h3>
						<div class="radio">
						<label>
							<input type="radio" name="optradio"> Brasil
						</label>
						
						</div>
						<div class="radio">
						  	<label>
						  		<input type="radio" name="optradio"> Venezuela
						  	</label>
						</div>
						
						<div class="radio">
						  	<label>
						  		<input type="radio" name="optradio">Peru
						  	</label>
						</div>
				</div>

				<button type="button" class="btn btn-default btn-lg btn-block">¡A viajar!</button>
				
				<div> <!-- Destinos fallidos:-->
					<ul class="list-group">
					  <li class="list-group-item list-group-item-info"><b>Destinos Fallidos</b></li>
					  <li class="list-group-item">Uruguay</li>
					  <li class="list-group-item">Bolivia</li>
					</ul>
				</div>
			</div>

			<div class="col-xs-4"> <!-- ESTE ES EL CONTENEDOR DE LA 2DA COLUMNA DE INVESTIGAR -->
				<div class="well well-">
					<h1 style="text-align:center"> Investigar</h1>
					
					<div class="list-group">
				  		<button type="button" class="list-group-item" height="100" ng-click= "menuCtrl.pista('EMBAJADA', 1)">Embajada</button>
				  		<button type="button" class="list-group-item" ng-click= "menuCtrl.pista('CLUB', 1)">Club</button>
				  		<button type="button" class="list-group-item" ng-click= "menuCtrl.pista('BIBLIOTECA', 1)">Biblioteca</button>
					</div>
				</div>
			</div>
			
			<div class="col-xs-4"> <!-- ESTE ES EL CONTENEDOR DE LA 3RA COLUMNA DEL JUEGO-->
				
				<div class="bg-success"> <!-- ESTE ES EL CONTENEDOR DE LA PISTA -->
					<h2> Visitando</h2>
					<h3> Club </h3>
					<h4> Vi a alguien sospechoso. Quiso cambiar su dinero a Euros. Me impresionó su auto convertible.</h4>
					<div class="modal-footer">
						<button type="button" class="btn btn-success">Ok</button>
					</div>
				</div>

				<div> <!-- ESTE ES EL CONTENEDOR DE LA ORDEN DE ARRESTO-->
					
					<h2>Orden de arresto:</h2>
					<h3 style="text-align:center"> <b>Emitida contra Ivan<b></h3>
				
					<div class="well">
					
						<h3>Pedir orden contra:</h3>
						
						<select class="form-control">
					  		<option>Carmen Sandiego</option>
						 	<option>Ivan Igorovich</option>
						 	<option>El barto</option>
						</select>

						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-lg btn-block">Pedir orden</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>